# Salin file ini menjadi "keystore.properties" (tanpa .example) lalu isi sesuai keystore Anda.
# JANGAN commit file "keystore.properties" yang sudah terisi ke Git.

storeFile=../release-key.jks
storePassword=GANTI_PASSWORD_STORE
keyAlias=password-generator-key
keyPassword=GANTI_PASSWORD_KEY
